{% include "header.html" %}
<!-- Blog -->
<aside aria-label="Related articles" class="py-5 lg:p-0 bg-gray-50 dark:bg-white">
    <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <!-- Blog -->
            {% for data in blog_data %}
            <article class="max-w-xs">
                <a href="#">
                    <img src="/media/{{data.blog_img}}" class="mb-5 rounded-lg pt-6" alt="Image 2">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 dark:text-black">
                    <a href="#">{{data.blog_title}}</a>
                </h2>
                <p class="mb-4  text-gray-500 dark:text-gray-600">{{data.blog_description|truncatechars:30}}<p>
                <a href="{% url 'blog_detail' data.blog_id %}" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 dark:text-blue-700 hover:no-underline">
                    Read More
                </a>
            </article>
            {% endfor %}
        </div>
    </div>
</aside>



<!-- blog upload form -->
  <div class="w-full max-w-md mx-auto bg-[#]">
 <form class="px-8 pt-6 pb-8 mb-4 bg-slate-100 rounded" method="POST"
       action="../upload_blog/" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="mb-4">
         <label class="block mb-2 text-sm font-bold text-gray-700">Title</label>
        <input  class="w-full px-3 py-2 leading-tight text-gray-700 border rounded appearance-none focus:outline-none border-black" type="text" placeholder="Blog Title" name="blog_title"/>
    </div>
    <div>
        <label class="block mb-2 text-sm font-bold text-gray-700 border-black">Upload Image</label>
        <input class="w-full px-3 py-2 leading-tight text-gray-700 border rounded appearance-none focus:outline-none border-black" type="file" name="blog_img" />
    </div>
    <div class="mb-6">
      <label class="block mb-2 text-sm font-bold text-gray-700">Description</label>
      <textarea class="w-full px-3 py-2 leading-tight text-gray-700 border rounde appearance-none focus:outline-none border-black" name="blog_description" placeholder="Your Message"></textarea>
    </div>
    <div class="flex items-center justify-between">
      <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none" type="submit" name="upload_blog">Upload Blog</button>
    </div>
  </form>
  {% if messages %}
        {% for message in messages %}
        <script>
            alert("{{ message }}");
        </script>
        {% endfor %}
      {% endif %}

</div>
{% include "footer.html" %}
